In [1]:
#!python3

#load library
import time #menghitung waktu
import pickle #tipe data menyimpan model

import pandas as pd
import numpy as np

from sklearn.datasets import load_iris
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split #proses belajar
from sklearn.metrics import classification_report #hasil belajar

<ipython-input-1-193a8e658805>:7: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:
data = pd.read_csv('Prediction Insurance.csv')
data.head(1)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28,0,> 2 Years,Yes,40454,26,217,1

In [13]:
data.shape

(381109, 12)

In [14]:
data['Region_Code'].unique()

array([28,  3, 11, 41, 33,  6, 35, 50, 15, 45,  8, 36, 30, 26, 16, 47, 48,
       19, 39, 23, 37,  5, 17,  2,  7, 29, 46, 27, 25, 13, 18, 20, 49, 22,
       44,  0,  9, 31, 12, 34, 21, 10, 14, 38, 24, 40, 43, 32,  4, 51, 42,
        1, 52], dtype=int64)

In [15]:
df_region = pd.get_dummies(data['Region_Code'])

In [16]:
#data preprocessing
data = data.drop('id', axis=1)

data['Gender'] = data['Gender'].map({'Male':1, 'Female':0})
# df_vehicle_age = pd.get_dummies(data['Vehicle_age'])

df = data[['Gender','Age','Driving_License','Response']].merge(df_region, left_index=True, right_index=True)
df.head(1)

,Gender,Age,Driving_License,Response,0,1,2,3,4,5,...,43,44,45,46,47,48,49,50,51,52
0,1,44,1,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
pd.DataFrame(df['Age'])

        Age
0        44
1        76
2        47
3        21
4        29
...     ...
381104   74
381105   30
381106   21
381107   68
381108   46

[381109 rows x 1 columns]

In [18]:
df

,Gender,Age,Driving_License,Response,0,1,2,3,4,5,...,43,44,45,46,47,48,49,50,51,52
0,1,44,1,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,76,1,0,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,47,1,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,21,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,29,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,1,74,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381105,1,30,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381106,1,21,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381107,0,68,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381108,1,46,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df[['Age']])
df_age = scaler.transform(df[['Age']])

In [20]:
df

,Gender,Age,Driving_License,Response,0,1,2,3,4,5,...,43,44,45,46,47,48,49,50,51,52
0,1,44,1,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,76,1,0,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,47,1,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,21,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,29,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,1,74,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381105,1,30,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381106,1,21,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381107,0,68,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381108,1,46,1,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
df = df.drop('Age', axis=1) #inputan
df = df.merge(pd.DataFrame(df_age,  columns=['Age']), left_index=True, right_index=True)

df = df.replace({False:0 , True:1})
df.head(5)

<ipython-input-21-0f13245713f7>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({False:0 , True:1})

,Gender,Driving_License,Response,0,1,2,3,4,5,6,...,44,45,46,47,48,49,50,51,52,Age
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.333777
1,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2.396751
2,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.527181
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1.148985
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-0.633242

In [22]:
#data modelling
x = df.drop('Response', axis=1) #inputan
y = df['Response'] #outputan

#proses belajar dan cara belajar
# x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)
x, y = load_iris(return_X_y=True)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=0)
start = time.time()
# model = SVC(kernel='linear')
model = GaussianNB()

#hasil belajar
model.fit(x_train, y_train)
stop = time.time()
print(f"Training Time {stop-start} Sekon.....")

Training Time 0.003000020980834961 Sekon.....

In [23]:
#model export
with open('modelGaussianNB.pkl','wb') as file:
    pickle.dump(model, file)

In [24]:
#model evaluation
y_predict = model.predict(x_test)
print(classification_report(y_predict, y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        21
           1       1.00      0.88      0.94        34
           2       0.83      1.00      0.91        20

    accuracy                           0.95        75
   macro avg       0.94      0.96      0.95        75
weighted avg       0.96      0.95      0.95        75